@font-face {font-family: Number; src: url(ESNeinTRIAL-Black.otf);}
@font-face {font-family: Comma; src: url(talldark.ttf); unicode-range: U+002C;}

:root {
    --background: #d1d1d1;
    --main: #ee0a25;
  }

*{
    margin: 0px;
}

body{
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 0px;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

#itemContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 80px;
}
#item{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

#contentContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
    pointer-events: none;
    background-color: var(--background);
    overflow: hidden;

    transition-duration: 0.2s;
}
.contentContainerActive{
    height: 200% !important;
    opacity: 100% !important;
    pointer-events: all !important;
}

#counterContainer{
    position: fixed;
    top: 13%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#counter{
    margin-right: 100px;
    font-family: Number,Comma;
    font-size: 70vh;
    color: var(--main);
}

#firstImgContainer{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondImgContainer{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#firstImg{
    position: absolute;
    height: 70%;
    width: 80%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondImg{
    position: absolute;
    height: 70%;
    width: 80%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    transition-duration: 0.2s;
}
#img:hover{
    opacity: 50%;
}

#logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    position: fixed;
    top: 5%;
    width: 100%;
    height: 100px;
}
#logoImg{
    width: 100px;
    height: 100px;
    background-color: var(--main);
}

#exitBtn{
    position:fixed;
    top: 5%;
    left: 4%;
    width: 100px;
    height: 100px;
    background-color: var(--main);
}

#nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 13%;
    width: 100%;
    height: 50px;
}
#name{

}

#brandContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom:5%;
    width: 100%;
}
#brandImg{
    width: 200px;
    height: 80px;
    background-color: var(--main);
}

.hidden{
    display: none !important;
    pointer-events: none !important;
}