@font-face {font-family: Number; src: url(./fonts/ESNeinTRIAL-Black.otf);}
@font-face {font-family: Comma; src: url(./fonts/talldark.ttf); unicode-range: U+002C;}
@font-face {font-family: Name; src: url(./fonts/SpaceMono-Bold.ttf);}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
    --background: rgb(225, 225, 225);
    --main: #ee0a25;
  }

*{
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: none;
}

body{
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#menu{
    pointer-events: all;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

#itemContainer{
    display: flex;
    position: relative;
    top: 30px;
    padding-bottom: 10vh;
    flex-wrap: wrap;
    width: 90vw;
    gap: 5vw;
    pointer-events: all;
}
#item{
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#contentContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    pointer-events: none;
    background-color: var(--background);
    overflow: hidden;

    transition-duration: 0.2s;
}
.itemContainerActive{
    overflow: hidden !important;
    height: 0vh !important;
}
.contentContainerActive{
    height: 200vh !important;
    opacity: 100% !important;
    pointer-events: all !important;
}

#descText{
    position: relative;
    width: 50vw;
    margin-top: calc(12vh + 30px);

    text-align: center;
    font-weight: 600;
    font-family: Pretendard;
    line-height: 1.6rem;
    color: var(--main);
}

#counterContainer{
    overflow: visible;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-color: none;
}
#counter{
    overflow: visible;
    font-family: Number,Comma;
    height: 63vh;
    font-size: 70vh;
    margin-top: -11vh;
    margin-right: 10px;
    color: var(--main);
    background-color: none;
}
#won{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-right: 25px;

    background-color: var(--main);
    color: var(--background);
    font-size: 3rem;
    font-weight: 900;
}

#subCounterContainer{
    padding: 10px;
    position: fixed;
    bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);

    font-size: 0.9rem;
    font-family: Pretendard;
    font-weight: 700;
    color: var(--background);
}


#firstImgContainer{
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    overflow-x: visible;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondImgContainer{
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    overflow-x: visible;

    display: flex;
    justify-content: center;
    align-items: center;
}
#firstImg{
    position: absolute;
    height: 70vh;
    width: 80vw;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}
#secondImg{
    position: absolute;
    height: 70vh;
    width: 80vw;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}
#img{
    transform: scale(0.56);
    transition-duration: 0.2s;
}

#logoContainer{
    display: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow: visible;
    position: fixed;
    top: 5vh;
    width: 100vw;
}
#logoImg{
    height: 7vh;
    object-fit: contain;
}

#exitBtn{
    pointer-events: all;
    position:fixed;
    top: 5vh;
    left: 5vh;
    width: 3vw;
    height: 3vw;
    background-color: var(--main);
}

#nameContainer{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 12vh;
    width: 100vw;
    background-color: none;
}
#name{
    font-family: Pretendard;
    font-weight: 600;
    font-size: 0.9rem;
}

#brandContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 5vh;
    width: 100%;
    pointer-events: none;
}
#brandImg{
    pointer-events: none;
    height: 13vh;
    object-fit: contain;
}

.hidden{
    display: none !important;
    pointer-events: none !important;
}

#arrowUp{
    position: fixed;
    top: 16vh;
    width: 3vw;
    height: 3vw;
    object-fit: contain;
    transition-duration: 0.5s;
    opacity: 100%;
    transform: scaleY(-1);
}
#arrowDown{
    position: fixed;
    bottom: 16vh;
    width: 3vw;
    height: 3vw;
    object-fit: contain;
    transition-duration: 0.5s;
    opacity: 100%;
}
.arrowHidden{
    opacity: 0% !important;
}

#cursor{
    pointer-events: none;
    position: fixed;
    opacity: 0%;
    background-color: var(--main);
    color: var(--background);
    padding: 7px;
}
#cursorText{
    font-family: Pretendard;
    font-weight: 600;
    display: none;
}
.cursorActive{
    opacity: 100% !important;
}
.cursorTextActive{
    display:inline !important;
}

@media (max-width: 500px){
    #itemContainer{
        top: 30px;
    }
    #descText{
        text-align: left;
        width: calc(5vh + 14vw + 30px);
        width: 80vw;
        word-break:break-all;
    }
    #counterContainer{
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    #counter{
        position: fixed;
        bottom: 25vh;
        height: 40vw;
        font-size: 55vw;
    }
    #won{
        display: none;
        width: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    #subCounterContainer{
        right: 5vh;
    }
    #img{
        transform: scale(1) translateY(-15vh);
    }
    #logoImg{
        height: 14vw;
    }
    #brandImg{
        height: 20vw;
    }
    #nameContainer{
        justify-content: right;
        align-items: flex-end;
        top: auto;
        bottom: 11vh;
        right: 5vh;
    }
    #exitBtn{
        width: 8vw;
        height: 8vw;
    }
    #arrowUp{
        top: 1vh;
        width: 11vw;
        height: 11vw;
    }
    #arrowDown{
        bottom: 1vh;
        width: 11vw;
        height: 11vw;
    }
    #cursor{
        display: none;
    }
}

.flex{display: flex;}
.jCenter{justify-content: center;}
.aCenter{align-items: center;}
.w100{width: 100%;}
.vw100{width: 100vw;}
.h100{height: 100%;}
.vh100{height: 100vh;}