@font-face {font-family: Number; src: url(ESNeinTRIAL-Black.otf);}
@font-face {font-family: Comma; src: url(talldark.ttf); unicode-range: U+002C;}

:root {
    --background: #d1d1d1;
    --main: #ee0a25;
  }

*{
    margin: 0px;
    overflow-x: hidden;
}

body{
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

#itemContainer{
    display: flex;
    position: absolute;
    top: 20vh;
    padding-bottom: 10vh;
    flex-wrap: wrap;
    width: 90vw;
    gap: 5vw;
}
#item{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 20vw;
    height: 20vw;
}

#contentContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0%;
    pointer-events: none;
    background-color: var(--background);
    overflow: hidden;

    transition-duration: 0.2s;
}
.itemContainerActive{
    overflow: hidden !important;
    height: 0vh !important;
}
.contentContainerActive{
    height: 200vh !important;
    opacity: 100% !important;
    pointer-events: all !important;
}

#counterContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: center;
}
#counter{
    height:60vh;
    margin-right: 1vw;
    font-family: Number,Comma;
    font-size: 70vh;
    line-height: 70vh;
    color: var(--main);
}
#won{
    margin-right: 2vw;
    margin-top: 41vh;
    height: 10vh;
    width: 10vh;
    background-color: var(--main);
}

#subCounterContainer{
    position: fixed;
    top: 70vh;
    right: 10vw;
    width: 100vw;
}

#firstImgContainer{
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    overflow-x: visible;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondImgContainer{
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    overflow-x: visible;

    display: flex;
    justify-content: center;
    align-items: center;
}
#firstImg{
    position: absolute;
    height: 70vh;
    width: 80vw;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}
#secondImg{
    position: absolute;
    height: 70vh;
    width: 80vw;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}
#img{
    scale: 0.6;
    transition-duration: 0.2s;
}

#logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    position: fixed;
    top: 5vh;
    width: 100vw;
}
#logoImg{
    width: 5vw;
    height: 5vw;
    background-color: var(--main);
}

#exitBtn{
    position:fixed;
    top: 5vh;
    left: 5vw;
    width: 5vw;
    height: 5vw;
    background-color: var(--main);
}

#nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 15vh;
    width: 100vw;
    height: 3vh;
}
#name{

}

#brandContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom:5vh;
    width: 100%;
}
#brandImg{
    width: 16vh;
    height: 8vh;
    background-color: var(--main);
}

.hidden{
    display: none !important;
    pointer-events: none !important;
}